fieldset {
  border: none;
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
}

.visually-hidden {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  clip: rect(0 0 0 0);
  overflow: hidden;
}

label.btn + label.btn {
  margin-left: 8px;
}

label.btn.active {
  background-color: var(--satin-sheen-gold);
  color: var(--chocolate-cosmos);
  font-weight: 600;
}
